# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# IDE / Editor
.idea/
.vscode/

# Build artifacts
build/
dist/
*.egg-info/

# Data files
data/

# Custom Ignores
tools/*.txt
tools/data