# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
logs/
env/
venv/
.venv/
.env

# IDE / Editor
.idea/
.vscode/

# Build artifacts
build/
dist/
*.egg-info/

# Data files
data/

# Custom Ignores
tools/*.txt
tools/data

# --- OS-specific ---
# Ignore macOS-specific files
.DS_Store

# Ignore Windows-specific files
Thumbs.db